/* Menu Page */
.menu-container {
    background-color: white;
    width: 100%;
    margin-bottom: 10vh;
}

/* Info Container */

.info-container {
    height: 50vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 5vw;
}

/* Spotlight of The Week */

.feed-container {
    display: flex;
    border-radius: 25px;
    height: 100%;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
    overflow: scroll;
    width: 100%;
}

.feed-container h2 {
    color: #7fb241;
}

.feed-container img {
    width: 50%;
    object-fit: cover;
}

.feed-container-text {
    color: #7fb241;
    display: flex;
    flex-direction: column;
    margin: 3vh;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
}

.feed-container-text h1, h2 {
    margin: 0;
}

/* Info Breakfast & Lunch */
.menu-info-container {
    display: flex;
    justify-content: space-between;
    margin: 3vw;
}

.info-lunch-container, .info-breakfast-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 25px;
    overflow: hidden;
    margin: 2vw;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
    width: 50%;
}

.info-lunch-container-text, .info-breakfast-container-text {
    color: #7fb241;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px 20px;
}

/* Top Image of Menu Info */
.top-image-link {
    display: block;
    width: 100%;
    text-decoration: none;
}

.top-image-link img {
    width: 100%;
    height: 40vh;
    display: block;
    object-fit: cover;
    transition: filter 0.3s ease;
}

.top-image-link img:hover {
    filter: brightness(.9);
}

@media screen and (max-width: 800px) {
    .menu-info-container {
        flex-direction: column;
        align-items: center;
    }
    .info-lunch-container, .info-breakfast-container {
        width: 90%;
    }

}

/* Dynamic Menu */

.menu-items-title {
    background-color: #7fb241;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 2em;
}

.menu-slider {
    text-align: center;
    margin-bottom: 30px;
}

/* Menu Button Styling */
.menu-button {
    background-color: #7fb241;
    font-family: "Quicksand", serif;
    color: white;
    padding: 12px 25px;
    font-size: 1.2em;
    border: 0;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

@media (max-width: 600px) {
    .menu-button {
        font-size: 1em;
        padding: 8px 15px;
    }
}

.menu-button:hover {
    background-color: #4CAF50;
}

#all {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#drinks, #breakfast {
    border-radius: 0;
}

#lunch {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

/* Menu Items */
.menu-item {
    display: inline-block;
    color: #7fb241;
    border-radius: 20px;
    padding: 20px 10px;
    margin: 30px;
    text-align: center;
    cursor: pointer;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}

.menu-grid {
    text-align: center;
}

.menu-item img {
    max-width: 300px;
    align-items: center;
}

.ingredients-list {
    display: none; /* Initially hidden */
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.ingredients-list ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Toggling visibility */
.show-ingredients .ingredients-list {
    display: block; /* Show */
}
