html, body {
    font-family: "Quicksand", serif;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    overscroll-behavior: none;
}

/* Navigation details */
.navbar {
    background-color: white;
    overflow: hidden;
    position: sticky;
    top: 0;
    width: 100%;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    padding: 0;
}

.navbar-links a {
    color: rgb(175, 175, 175);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
    border-radius: 20px;
    margin: 10px;
}

.navbar-links a.active {
    color: #7fb241;
}

#Locations {
    background-color: #7fb241;
    color: rgb(255, 255, 255);
    transition: background-color 0.3s ease;
}

#Locations:hover {
    background-color: #4CAF50;
}

.navbar a:hover {
    color: #4CAF50;
}

.navbar-logo{
    display: flex; 
    align-items: center;
    margin-left: 20px;
}

.navbar-logo img{
    margin-top: 5px;
}

.navbar-logo a {
   padding: 12px 7px;
   color:#719c40;
   text-decoration: none;
   font-size: 30px;
   font-weight: bold;
}

/* Dropdown icon details */
.dropdown-icon {
    display: none;
    cursor: pointer;
    font-size: 40px;
    color: #7fb241;
    margin-left: auto;
    margin-right: 20px;
}

/* IN CASE screen width is less than 800px to improve compatibility */
@media screen and (max-width: 800px) {
    .navbar {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    /* Initially hide the navbar links on small screens */
    .navbar-links {
        display: none; /* Hide links by default */
        flex-direction: column;
        width: 100%;
    }

    .navbar-links a {
        text-align: center;
        padding: 12px 16px;
        width: 90%;
    }

    .dropdown-icon {
        display: block; /* Show dropdown menu icon */
    }

    /* Show links when menu is toggled */
    .navbar-links.show {
        display: flex;  /* Display navbar links */
    }
}

/* Home Page */

/* Welcome Window */
.welcome-container {
    display: flex;
    background-color: #7fb241;
    width: 100%;
    border-radius: 25px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    height: 50vh;
    justify-content: space-between;
}

.welcome-container-barrier {
    display: flex;
    align-items: center;
    background-color: #4CAF50;
    text-align: center;
    flex: 1 1 40%;
    margin-left: 2%;
    height: 100vh;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    padding-left: 0;
    clip-path: inset( -100vw -100vw -100vw 0 ); /* Overflow on the left is none*/
}

.welcome-container-barrier img {
    position: absolute;
    object-fit: contain;
    max-width: 130%;
    height: auto;
}

/* Stem image */
#welcome-stem {
    width: 60%;
    z-index: 1;
    margin-left: 60%;
    margin-bottom: 70%;
}

/* Pitahand image */
#welcome-pitahand {
    z-index: 2;
    left: -16%;
    transform: rotate(330deg);
}

/* Leaf image */
#welcome-leaf {
    width: 60%;
    z-index: 3;
    margin-top: 40%;
    left: 60%;
    animation: shake 1.5s ease-in-out infinite;
    animation-duration: 1.5s; /* Length of shake */
    animation-timing-function: ease-in-out;
}

/* Animation for leaf image shaking effect */
@keyframes shake {
    0% {
        transform: rotate(55deg); /* Starting rotation (to the right) */
    }
    50% {
        transform: rotate(45deg); /* Slight rotation to the left */
    }
    100% {
        transform: rotate(55deg); /* Back to the starting rotation */
    }
}

.welcome-container-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    flex: 1 1 50%;
    padding: 2rem;
    overflow: hidden;
}

.welcome-container-text a { /* View Menu Button */
    display: inline-block;
    text-align: center;
    width: auto;
    max-width: 200px;
    text-decoration: none;
    color: white;
    background-color: #719c40;
    border-radius: 25px;
    padding: 10px 20px;
    margin-top: 2vh;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition for hover effects */
}

.welcome-container a:hover {
    background-color: #4CAF50;
    transform: translateY(-3px); /* Slight lift effect when hovering */
}

.welcome-container-text h2 /* "Welcome To" */ {
    font-size: 2rem;
    margin-bottom: 0;
}

.welcome-container-text h1 /* "Harvest Haven" */ {
    font-size: 4rem;
    margin: 0;
}

.welcome-container-text h3 /* "Vegan Greek Cuisine" */ {
    margin-top: 2vh;
    background-color: white;
    color: #7fb241;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 1.2rem;
}

/* Info Container */

.info-container {
    height: 50vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: auto;
    margin-right: auto;
}

/* Spotlight of The Week */
.feed-container {
    display: flex;
    width: 50%;
    border-radius: 25px;
    height: 90%;
    margin: 3vh;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
    overflow: scroll;
}

.feed-container h2 {
    color: #7fb241;
}

.feed-container img {
    width: 50%;
    object-fit: cover;
}

.feed-container-text {
    color: #7fb241;
    display: flex;
    flex-direction: column;
    margin: 3vh;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
}

.feed-container-text h1, h2 {
    margin: 0;
}

/* Slideshow container */
.slideshow-container {
    position: relative;
    margin: 3vh;
    overflow: hidden;
    max-height: 600px; /* Adjusts MAX Height of Slideshow */
    height: auto;
    border-radius: 25px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}
  
/* Hide radio buttons */
input[type="radio"] {
    display: none;
}
  
/* Slides container */
.slides {
   display: flex;
   transition: transform 1s ease;
   width: 100%;
}
  
/* Each slide */
.slide {
    min-width: 100%;
    position: relative;
}
  
.slide img {
    width: 100%;
    max-height: 100%;
    object-fit: cover; /* Maintaion aspect ratio */
    margin: 0;
    display: block;
}
  
/* Navigation Buttons*/
.nav-buttons {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
  
.nav-buttons label {
    background-color: #7fb241;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 10px;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}
  
.nav-buttons label:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

.nav-buttons input:checked + .nav-buttons label {
    opacity: 1; /* Set opacity to 1 for the selected radio button */
  }
  
/* Slide transitions based on radio selection */
 #slide1:checked ~ .slides {
    transform: translateX(0);
}
  
#slide2:checked ~ .slides {
    transform: translateX(-100%);
}
  
#slide3:checked ~ .slides {
    transform: translateX(-200%);
}

#slide1:checked ~ .nav-buttons label[for="slide1"] {
    opacity: 1; /* Make the selected button opaque */
}
  
#slide2:checked ~ .nav-buttons label[for="slide2"] {
    opacity: 1; /* Make the selected button opaque */
}
  
#slide3:checked ~ .nav-buttons label[for="slide3"] {
    opacity: 1; /* Make the selected button opaque */
}

/* Info Breakfast & Lunch */

.menu-info-container {
    display: flex;
    justify-content: space-between;
}

.info-drinks-container, .info-lunch-container, .info-breakfast-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 25px;
    overflow: hidden;
    margin: 4vh;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
    width: 40%;
}

.info-drinks-container-text, .info-lunch-container-text, .info-breakfast-container-text {
    color: #7fb241;
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: left;
    padding: 10px 20px;
}

/* Info Menu Items */
.info-food-example {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
}

.info-food-example img{
    width: 50%;
    height: auto;
    height: 100%;
    object-fit: contain;
    margin-right: 5px;
}

.info-food-example h3{
    font-size: 2vw;
    flex-grow: 1;
    white-space: nowrap;
    overflow: visible;
}

/* Top Image of Menu Info */
.top-image-link {
    display: block;
    width: 100%;
    text-decoration: none;
}

.top-image-link img {
    width: 100%;
    height: 40vh;
    display: block;
    object-fit: cover;
}

.top-image-link img:hover {
    filter: brightness(.9);
}


@media screen and (max-width: 800px) {
    .menu-info-container {
        flex-direction: column;
        align-items: center;
    }
    .info-drinks-container, .info-lunch-container, .info-breakfast-container {
        width: 90%;
    }
    
    .info-food-example h3{
        font-size: 4vw;
    }
}

/* Promo Section */
.promo {
    background-color:#7fb241;
    color: white;
    text-align: center;
    padding: 40px 20px;
    margin-top: 0px;
}

.promo h1 {
    font-size: 5em; /* 500% Larger Font Size */
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.promo h4 {
    font-size: 1.2em;
    margin-bottom: 20px;
    margin-top: 3px;
}

.promo a {
    background-color: #4CAF50;
    color: white;
    padding: 12px 25px;
    font-size: 1.2em;
    border-radius: 25px;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition for hover effects */
}

.promo a:hover {
    background-color: #45a049; /* Darker green on hover */
    transform: translateY(-3px); /* Slight lift effect when hovering */
}

/* Menu Teaser */
#gallery-header {
    text-align: center;
    color: #7fb241;
    font-size: 8vh;
    margin-bottom: 1vh;
}

.menu-teaser {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 40px 20px;
    margin: 20px;
}

.menu-image {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.menu-image:hover {
    filter: brightness(.9);
    box-shadow: 6px 4px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-10px); /* Slight lift effect when hovering */
}

/* IN CASE screen width is less than 800px to improve compatibility */
@media screen and (max-width: 800px) {
    .menu-teaser {
        flex-direction: column;
    }
}

.gallery {
    position: relative;
    flex-direction: column; /* Stack items vertically */
    display: flex;
    width: 100%;
}

.gallery-item {
   margin: 0;
   flex-shrink: 0;
}

.gallery img {
    display: block;
    width: 100%;
}

.gallery-button {
    position: absolute;
    background-color: #4CAF50;
    color: white;
    padding: 12px 25px;
    font-size: 1.2em;
    border-radius: 25px;
    text-decoration: none;
    left: 50%;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition for hover effects */
}
/* Positioning the gallery buttons */

#gallery-location-button {
    top: 27%;
    transform: translate(-50%, 50%);
}

#gallery-learn-button {
    bottom: 5%;
    transform: translate(-50%, 50%);
}

.gallery-button:hover {
    background-color: #45a049; /* Darker green on hover */
}

/* IN CASE screen width is less than 800px to improve compatibility */
@media screen and (max-width: 800px) {
    .gallery-button {
        font-size: .8em;
        padding: 6px 12px;
    }
}

/* Reviews */

.review-slideshow-container {
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 30px;
}

.review-slides-wrapper {
    display: flex;
    transition: transform 1s ease-in-out;
    width: 100%;
}

.review-slide {
    flex: 0 0 100%;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
}

.review-slide h1, .review-slide h2 {
    color: #7fb241;
}

.review-star-rating {
    color: gold;
    font-size: 30px;
    margin-top: 20px;
}

/* Menu Page */

.menu-container {
    background-color: white;
    width: 100%;
    margin-bottom: 10vh;
}

/* Dynamic Menu */

.menu-slider {
    text-align: center;
    margin-bottom: 30px;
}

/* Menu Button Styling */
.menu-button {
    background-color: #7fb241;
    font-family: "Quicksand", serif;
    color: white;
    padding: 12px 25px;
    font-size: 1.2em;
    border: 0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}

.menu-button:hover {
    background-color: #4CAF50;
}

#all {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#drinks, #breakfast {
    border-radius: 0;
}

#lunch {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

/* Menu Items */
.menu-item {
    display: inline-block;
    color: #7fb241;
    border-radius: 20px;
    padding: 20px 10px;
    margin: 30px;
    text-align: center;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.menu-grid {
    text-align: center;
}

.menu-item img {
    max-width: 300px;
    align-items: center;
}

.ingredients-list {
    display: none; /* Initially hidden */
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.ingredients-list ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Toggling visibility */
.show-ingredients .ingredients-list {
    display: block; /* Show */
}

/* About Us/Meet The Team Sections */

.aboutus-container, .meettheteam-container, .tsa-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: white;
    opacity: 0;  /* Initially hidden */
    animation: slideInFromLeft 1s forwards;
}

.aboutus-container img, .meettheteam-container img, .tsa-container img{
    margin: 20px;
    height: 300px;
    border: 5px solid white;
    border-radius: 25px;
}

.aboutus-container > div, .meettheteam-container > div, .tsa-container > div{
    background-color: #7fb241;
    display: flex;
    align-items: flex-start;
    margin: 20px;
    border-radius: 25px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}

/* About Us Purpose*/

.aboutus-header-container {
    display: flex; 
    align-items: center;
    margin-left: 30px;
}

.aboutus-header {
    padding: 12px 7px;
    color:#719c40;
}

.aboutus-purpose-text {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin: 30px;
}

.aboutus-purpose img{
    text-align: left;
}

/* About Us / Why Vegan?*/
.aboutus-whyvegan-text {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 30px;
}

.aboutus-whyvegan img{
    text-align: right;
}

/* Meet The Team */

.aboutus-container, .meettheteam-container h2, h3, h4, p {
    margin: 6px;
}

.meettheteam-Brody-text, .meettheteam-Allen-text, .meettheteam-Kaleb-text {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin: 30px;
}

.meettheteam-Christian-text, .meettheteam-Cameron-text {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 30px;
}

/* Our Sponsor TSA */
.aboutus-tsa-text {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin: 30px;
}

.aboutus-tsa img{
    text-align: left;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);  /* Start offscreen to the left */
        opacity: 0;  /* Fully transparent */
    }
    100% {
        transform: translateX(0);  /* End in its normal position */
        opacity: 1;  /* Fully visible */
    }
}

/* IN CASE screen width is less than 800px to improve compatibility */
@media screen and (max-width: 800px) {
    .aboutus-container div, .meettheteam-container div, .aboutus-tsa {
        flex-direction: column;
    }


    .aboutus-container img, .meettheteam-container img, .tsa-container img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .aboutus-container h2, p, .tsa-container h2{
        text-align: center;
    }

    .meettheteam-container h2, h3, h4, p{
        text-align: center;
    }

}

/* Locations */
.locations-container {
    text-align: center;
}

.sunset-location {
    display: inline-block;
    background-color: #7fb241;
    color: white;
    margin: 20px;
    padding: 20px 40px;
    border-radius: 25px;
}

.sponsor-location {
    display: inline-block;
    background-color: #7fb241;
    color: white;
    margin: 20px;
    padding: 20px 40px;
    border-radius: 25px;
}

.sponsor-location img{
    border-radius: 25px;
    max-width: 400px;
}

/* Footer */

.footer {
    background-color: #7fb241;
    color: white;
    padding: 30px 10%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    flex-wrap: wrap;
    align-items: stretch;
}

/* Newsletter Styling */
.footer-newsletter {
    flex: 1 1 100%;
    text-align: center;
    margin-bottom: 50px;
}

.footer-newsletter input {
    height: 9px;
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px solid white;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.footer-newsletter button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-left: 0px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.footer-newsletter button:hover {
    background-color: #45a049;
}

/* Footer Styling */
.footer-description, .footer-contacts, .footer-hours {
    flex: 1;
    max-width: 300px;
}

.footer-newsletter, .footer-description, .footer-contacts, .footer-hours {
    margin: 10px;
}

.footer-contacts ul, .footer-hours ul, .footer-links ul{
    list-style: none;
    padding: 0;
}

.footer-links {
   margin-top: 20px;
}

.footer-links a{
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.footer-socialmedia img {
    margin-top: 30px;
    position: relative;
    height: 40px;
}

.footer-links a:hover {
    color: #45a049;
}

/* IN CASE screen width is less than 800px to improve compatibility */
@media screen and (max-width: 800px) {
    .footer {
        flex-direction: column;
    }
}

/* Page Title Design */
.page-title {
    color: white;
    background-color: #7fb241;
    text-align: center;
    font-size: 2em;
    border-radius: 25px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    overflow: hidden;
    margin-bottom: 20px;
    animation: slideInFromTop 1s forwards;
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);  /* Start offscreen to the left */
        opacity: 0;  /* Fully transparent */
    }
    100% {
        transform: translateY(0);  /* End in its normal position */
        opacity: 1;  /* Fully visible */
    }
}